<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adm.css') }}">
</head>
<body>
    <div class="container">
        <h1>Página de Administração</h1>
        <div class="button-container">
            <a href="view-logs" class="button">Consultar</a>
            <a href="report" class="button">Relatório</a>
            <div class="button-container">
                <a href="home" class="button back-button">Voltar</a>
            </div>
        </div>
    </div>
</body>
</html>
