<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo"><a href="home" class="glow">GLOW-UP</a></h1>
            <nav class="navbar">
                <ul class="navegacao-primaria">
                    <li><a href="home">Home</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)">Serviços</a>
                        <div class="dropdown-content">
                            <a href="musculação">Musculação</a>
                            <a href="fisioterapia">Fisioterapia</a>
                            <a href="nutrição">Nutrição</a>
                        </div>
                    </li>
                    <li><a href="contato">Contato</a></li>
                    <li><a href="logout">Logout</a></li>
                    <li><a href="premium">Seja Premium</a></li>
                    <li><a href="profile" class="premium-btn">Meu perfil</a></li>
                </ul>
                <i class="fa-solid fa-bars" id="hamburger-icon"></i>
            </nav>
        </div>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert {{ messages[0][0] }}">{{ messages[0][1] }}</div>
        {% endif %}
    {% endwith %}

    <section class="content">
        <h1>EDITAR PERFIL</h1>
        <fieldset>
            <legend>Dados pessoais</legend>
            <form action="{{ url_for('register.edit_profile') }}" method="post">
                <div class="form-group">
                    <label for="name">Nome completo:</label>
                    <input type="text" id="name" name="name" value="{{ user.name }}" required>
                </div>
                <div class="form-group">
                    <label for="phone">Telefone:</label>
                    <input type="text" id="phone" name="phone" value="{{ user.phone }}" required>
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" value="{{ user.email }}" required>
                </div>
                <div class="form-group">
                    <label for="password">Nova senha:</label>
                    <input type="password" id="password" name="password" placeholder="Deixe em branco para manter a mesma senha">
                    <i class="fa-solid fa-eye toggle-password" id="togglePassword" onclick="togglePasswordVisibility()"></i>
                </div>
                <fieldset>
                    <legend>Informações Complementares</legend>
                    <div class="form-group">
                        <label for="comorbidities">Comorbidades/Doenças:</label>
                        <input type="text" id="comorbidities" name="comorbidities" value="{{ user.comorbidities }}">
                    </div>
                    <div class="form-group">
                        <label for="medicines">Medicamentos em Uso:</label>
                        <textarea id="medicines" name="medicines" rows="2">{{ user.medicines }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="allergies">Alergias:</label>
                        <textarea id="allergies" name="allergies" rows="2">{{ user.allergies }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="objectives">Objetivos:</label>
                        <select id="objectives" name="objectives">
                            <option value="" disabled>Selecione seu objetivo</option>
                            <option value="emagrecer" {% if user.objectives == 'emagrecer' %}selected{% endif %}>Emagrecer</option>
                            <option value="melhorar-condicionamento" {% if user.objectives == 'melhorar-condicionamento' %}selected{% endif %}>Melhorar Condicionamento Físico</option>
                            <option value="ganhar-massa-muscular" {% if user.objectives == 'ganhar-massa-muscular' %}selected{% endif %}>Ganhar Massa Muscular</option>
                            <option value="definir" {% if user.objectives == 'definir' %}selected{% endif %}>Definir</option>
                        </select>
                    </div>
                </fieldset>
                <button type="submit" class="submit-btn">Salvar Alterações</button>
            </form>
            <form action="{{ url_for('register.delete_profile') }}" method="post" onsubmit="return confirm('Tem certeza que deseja inativar sua conta?')">
                <button type="submit" class="inactivate-btn">Inativar Conta</button>
            </form>            
        </fieldset>
    </section>

    <footer> <div class="footer-sections">
        <div class="footer-section social-links">
            <h3>Siga-nos em nossas redes sociais</h3>
            <a href="mailto:glow.upldmy@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
            <a href="https://chat.whatsapp.com/LVMMf7SKTL23pxjujo2ogy" target="_blank"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
        <div class="footer-bottom">
            &copy; 2024 Glow-Up.
        </div>
    </footer>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            const alert = document.querySelector('.alert');
            
            if (alert) {
                // Adicionar a classe show para exibir a mensagem
                alert.classList.add('show');

                // Depois de 3 segundos, ocultar a mensagem
                setTimeout(() => {
                    alert.classList.remove('show');
                }, 3000); // 3000 ms = 3 segundos
            }
        });

        function togglePasswordVisibility() {
            const passwordField = document.getElementById('password');
            const togglePasswordIcon = document.getElementById('togglePassword');
            
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                togglePasswordIcon.classList.remove('fa-eye');
                togglePasswordIcon.classList.add('fa-eye-slash');
            } else {
                passwordField.type = 'password';
                togglePasswordIcon.classList.remove('fa-eye-slash');
                togglePasswordIcon.classList.add('fa-eye');
            }
        }

        function toggleConfirmPasswordVisibility() {
            const confirmPasswordField = document.getElementById('confirmapassword');
            const toggleConfirmPasswordIcon = document.getElementById('toggleConfirmPassword');
            
            if (confirmPasswordField.type === 'password') {
                confirmPasswordField.type = 'text';
                toggleConfirmPasswordIcon.classList.remove('fa-eye');
                toggleConfirmPasswordIcon.classList.add('fa-eye-slash');
            } else {
                confirmPasswordField.type = 'password';
                toggleConfirmPasswordIcon.classList.remove('fa-eye-slash');
                toggleConfirmPasswordIcon.classList.add('fa-eye');
            }
        }

        // Função para formatar o telefone
        function formatPhone(input) {
            input = input.replace(/\D/g, ""); 
            input = input.replace(/^(\d{2})(\d)/g, "($1) $2"); 
            input = input.replace(/(\d)(\d{4})$/, "$1-$2"); 
            return input;
        }

        document.getElementById('phone').addEventListener('input', function() {
            this.value = formatPhone(this.value);
        });

        // Função para validar o e-mail
        function validateEmail() {
            const email = document.getElementById('email').value;
            if (!email.includes("@")) {
                alert("Por favor, insira um e-mail válido.");
                return false;
            }
            return true;
        }

        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('loginForm');
            form.addEventListener('submit', function(event) {
                if (document.getElementById('password').value !== document.getElementById('confirmapassword').value) {
                    alert("Senhas não correspondem");
                    event.preventDefault();
                }
            });
        });

        
    </script>
</body>
</html>
