<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Glow-Up ajuda você a ter uma vida saudável e equilibrada com musculação, nutrição e fisioterapia.">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo"><a href="home" class="glow">GLOW-UP</a></h1>
            <nav class="navbar">
                <ul class="navegacao-primaria">
                    <li><a href="home">Home</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="contato">Contato</a></li>
                    <li><a href="premium" class="premium-btn">Seja Premium</a></li>
                </ul>
                <i class="fa-solid fa-bars" id="hamburger-icon"></i>
            </nav>
        </div>
    </header>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert {{ messages[0][0] }}">{{ messages[0][1] }}</div>
        {% endif %}
    {% endwith %}    

    <section class="content">
        <h1>CADASTRE-SE</h1>
        <fieldset>
            <legend>Dados pessoais</legend>
            <form action="#" method="post" id="loginForm">
                <div class="form-group">
                    <label for="name">Nome completo:</label>
                    <input type="text" id="name" name="name" placeholder="ex.: Maria da Silva" required>
                </div>

                <div class="form-group">
                    <label for="phone">Telefone:</label>
                    <input type="text" id="phone" name="phone" placeholder="ex.: (41) 9 1234-4321" required>
                </div>

                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" placeholder="ex.: mariadasilva@gmail.com" required>
                </div>

                <div class="form-group">
                    <label for="password">Crie sua senha:</label>
                    <input type="password" id="password" name="password" placeholder="ex.: 123@M75" required>
                    <i class="fa-solid fa-eye toggle-password" id="togglePassword" onclick="togglePasswordVisibility()"></i>
                </div>
                <div class="form-group">
                    <label for="confirmapassword">Confirme sua senha:</label>
                    <input type="password" id="confirmapassword" name="confirmapassword" placeholder="ex.: 123@M75" required>
                    <i class="fa-solid fa-eye toggle-password" id="toggleConfirmPassword" onclick="toggleConfirmPasswordVisibility()"></i>
                </div>
                
                
                <fieldset>
                    <legend>Informações Complementares</legend>
                    <div class="form-group">
                        <label for="comorbidities">Comorbidades/Doenças:</label>
                        <input type="text" id="comorbidities" name="comorbidities" placeholder="ex.: Possuo asma, diabete, hérnia de disco">
                    </div>

                    <div class="form-group">
                        <label for="medicines">Medicamentos em Uso:</label>
                        <textarea id="medicines" name="medicines" rows="2" placeholder="ex.: Tomo o medicamento x para tratar y, n vezes ao dia" ></textarea>                  
                    </div>

                    <div class="form-group">
                        <label for="allergies">Alergias:</label>
                        <textarea id="allergies" name="allergies" rows="2" placeholder="ex.: Possuo alergia à tomate e amendoim. Possuo intolerância à lactose"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="objectives">Objetivos:</label>
                        <select id="objectives" name="objectives" required>
                            <option value="" disabled selected>Selecione seu objetivo</option>
                            <option value="emagrecer">Emagrecer</option>
                            <option value="melhorar-condicionamento">Melhorar Condicionamento Físico</option>
                            <option value="ganhar-massa-muscular">Ganhar Massa Muscular</option>
                            <option value="definir">Definir</option>
                        </select>
                    </div>
                </fieldset>
                <button type="submit" class="submit-btn">Registrar</button>
            </form>
        </fieldset>
    </section>
    
    
    <footer>
        <div class="footer-sections">
            <div class="footer-section social-links">
                <h3>Siga-nos em nossas redes sociais</h3>
                <a href="mailto:glow.upldmy@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
                <a href="https://chat.whatsapp.com/LVMMf7SKTL23pxjujo2ogy" target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 Glow-Up.
        </div>
    </footer>

    <script>
        // script para impedir que o usuário cadastre um email já registrado na base
        document.addEventListener('DOMContentLoaded', () => {
            const emailField = document.getElementById('email');
            const form = document.getElementById('loginForm');

            emailField.addEventListener('blur', function() {
                const email = emailField.value;
                if (email) {
                    fetch(`/check-email?email=${encodeURIComponent(email)}`)
                        .then(response => response.json())
                        .then(data => {
                            if (data.exists) {
                                alert("Este email já está registrado. Por favor, use outro email.");
                                
                                // Usar setTimeout para focar e permitir edição no campo de email
                                setTimeout(() => {
                                    emailField.focus();
                                    emailField.select(); // Seleciona o texto no campo para facilitar a substituição
                                }, 0);
                            }
                        })
                        .catch(error => console.error('Erro ao verificar o email:', error));
                }
            });
            // script para comparar senhas
            form.addEventListener('submit', function(event) {
                if (document.getElementById('password').value !== document.getElementById('confirmapassword').value) {
                    alert("Senhas não correspondem");
                    event.preventDefault();
                }
            });
        });
        // script para ícone de visualização da senha
        function togglePasswordVisibility() {
            const passwordField = document.getElementById('password');
            const togglePasswordIcon = document.getElementById('togglePassword');
            
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                togglePasswordIcon.classList.remove('fa-eye');
                togglePasswordIcon.classList.add('fa-eye-slash');
            } else {
                passwordField.type = 'password';
                togglePasswordIcon.classList.remove('fa-eye-slash');
                togglePasswordIcon.classList.add('fa-eye');
            }
        }

        function toggleConfirmPasswordVisibility() {
            const confirmPasswordField = document.getElementById('confirmapassword');
            const toggleConfirmPasswordIcon = document.getElementById('toggleConfirmPassword');
            
            if (confirmPasswordField.type === 'password') {
                confirmPasswordField.type = 'text';
                toggleConfirmPasswordIcon.classList.remove('fa-eye');
                toggleConfirmPasswordIcon.classList.add('fa-eye-slash');
            } else {
                confirmPasswordField.type = 'password';
                toggleConfirmPasswordIcon.classList.remove('fa-eye-slash');
                toggleConfirmPasswordIcon.classList.add('fa-eye');
            }
        }

        // Função para formatar o telefone
        function formatPhone(input) {
            input = input.replace(/\D/g, ""); 
            input = input.replace(/^(\d{2})(\d)/g, "($1) $2"); 
            input = input.replace(/(\d)(\d{4})$/, "$1-$2"); 
            return input;
        }

        document.getElementById('phone').addEventListener('input', function() {
            this.value = formatPhone(this.value);
        });


        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('loginForm');
            form.addEventListener('submit', function(event) {
                if (document.getElementById('password').value !== document.getElementById('confirmapassword').value) {
                    alert("Senhas não correspondem");
                    event.preventDefault();
                }
            });
        });
    </script>
</body>
</html>
