:root {
    --primary-color: #002f1f;
    --secondary-color: #ffffffef; 
    --accent-color: #57d399;
    --background-color: #f3f4f6;
    --about-background-color:#ddd ;
    --border-background-color:#ccc ;
    --text-color: #242424; 
    --hover-color: #57d399; 
    --shadow-color: rgba(0, 0, 0, 0.452); 
}

html, body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Estilos da barra de navegação */
header .navegacao-primaria li a::after {
    content: '';
    width: 0px;
    height: 0px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: .9s;
}

header .navegacao-primaria li a:hover::after {
    width: 100%;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid #2ceb06;
}

#hamburger-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

header {
    background-color: var(--primary-color);
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 12px var(--shadow-color);
    transition: background-color 0.3s;
   
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #57d399;
    text-align: center;
    margin-bottom: 15px; 
}

.logo span {
    color: #57d399;
}

.glow{
    display: inline;
    background: linear-gradient(45deg,#00a753, #5fffca, #57d399, #ffffc4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: var(--secondary-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: var(--hover-color);
    color: var(--primary-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Ajustes para alinhar o menu com o resto da navegação */
.navbar a, .dropdown a {
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.navbar a {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;;
}

.navbar a:hover {
    color: var(--accent-color);
    transform: scale(1.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 13px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease; 
    padding: 10px 15px;
    display: block;
    border-radius: 30px;
}

.nav-links a:hover {
    color: var(--hover-color);
    transform: scale(1.1);
}

/* Estilos do botão de inativação de conta */
.inactivate-btn {
    background-color: #b22222;
    color: #fff;
    border: none;
    padding: 15px 20px;
    margin-left: 80%;
    margin-top: -11%;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    display: block;
    width: 20%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(178, 34, 34, 0.2);
}

.inactivate-btn:hover {
    background-color: #8b1c1c; /* Uma cor vermelha um pouco mais escura */
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(178, 34, 34, 0.3);
}


#home-btn {
    background-color: var(--primary-color); 
    color: var(--secondary-color); 
    border: 2px solid var(--primary-color); 
    padding: 10px 20px; 
    border-radius: 25px; 
    font-size: 16px; 
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; 
    cursor: pointer;
}

#home-btn:hover {
    background-color: var(--hover-color); 
    color: var(--primary-color); 
    transform: scale(1.05);
}

#home-btn {
    border: 2px solid   #009985;
    padding: 10px;
    border-radius: 20px;
}

#home-btn:hover{
    background-color:  #002413d0;
    color: white;

}

.premium-btn {
    background: linear-gradient(45deg, #002419, #008f5f, #57d399);
    color: #ffffff;
    border: 2px solid #57d399;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

/* Estilos do formulário de cadastro */
.content {
    background: #ffffff;
    padding: 30px;
    margin-top: 10%;
    margin-left: 30%;
    margin-bottom: 2%;
    border-radius: 10px;
    max-width: 35%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in;
}

h1 {
    color: #4fa289;
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center;
}

fieldset {
    border: none;
    margin-bottom: 20px;
    padding: 0;
}

legend {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 50px;
    color: #333;
    text-align: left;
    width: 100%; 
}

.form-group {
    margin-bottom: 25px;
    position: relative;
    font-size: 1.2em;
    margin-left: 5%;
    transition: transform 0.3s;
}

.form-group:hover {
    transform: scale(1.02);
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    position: absolute;
    top: -22px;
    left: 10px;
    background: #fff;
    padding: 0 10px;
    color: #333;
    transition: all 0.3s;
}

.form-group input,
.form-group textarea {
    width: 90%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: large;
    margin-bottom: 10px;
    background: #f9f9f9;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.form-group select {
    width: 40%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: large;
    background: #f9f9f9;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #00a859; 
    outline: none;
    box-shadow: 0 0 8px rgba(0, 168, 89, 0.5);
    background-color: #eafaf1;
}

.form-group input:not(:placeholder-shown) + label,
.form-group textarea:not(:placeholder-shown) + label,
.form-group select:not(:placeholder-shown) + label {
    top: -30px;
    left: 10px;
    font-size: 0.85em;
    color: #00a859; 
}

.submit-btn {
    background: #2ba069;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    display: block;
    width: 20%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 168, 89, 0.2);
}

.submit-btn:hover {
    background: #007a4d;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 168, 89, 0.3);
}

/* Rodapé */
footer {
    background-color: var(--primary-color);
    color: #F5F5F5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    border-top: 5px solid var(--accent-color);
    position: relative;
    background-size: cover;
    background-position: center;
}

.footer-sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1700px;
    margin-bottom: 20px;
}

.classificao{
    position: relative;
    right: 50px;
}

.footer-section {
    flex: 1;
    text-align: center;
}

.quick-links {
    text-align: left;
}

.footer-rating {
    text-align: right;
}

.footer-section h3 {
    margin-bottom: 15px;
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s;
}

.footer-section ul li a:hover {
    text-decoration: underline;
    color: var(--hover-color);
    text-shadow: 0 0 5px var(--accent-color);
}

.social-links a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.7rem;
    transition: color 0.3s, transform 0.3s;
}

.social-links a:hover {
    color: var(--hover-color);
    transform: scale(1.1);
}

.social-links i {
    font-size: 1.5rem;
    color: #57d399;
    margin: 0 10px;
}

.social-links i:hover {
    color: #8d7800;
}

.stars {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.stars .star {
    font-size: 2rem;
    cursor: pointer;
    color: #FFF;
    transition: transform 0.3s;
}

.stars .star:hover,
.stars .star.active {
    transform: scale(1.2);
    color: #FFD700;
}

.footer-bottom {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: var(--secondary-color);
    border-top: 1px solid #f5f5f5;
    padding-top: 10px;
    z-index: 2;
}

/* Personalização do Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #00100a, #025029, #009148, #57d399);
    
}

::-webkit-scrollbar-track {
    background-color: #E0E0E0;
    
}

/* Animations */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-150%);
    }
}

@media screen and (max-width: 480px) {
   
    header {
        justify-content: space-between;
        padding: 30px 70px;
    }

    header .navegacao-primaria {
        display: none;
    }

    header i {
        color: #f7f7f7;
        font-size: 3rem;
    }

    #hamburger-icon {
        display: block;
    }

    header .navegacao-primaria.ativado {
        background: linear-gradient(rgba(43, 42, 42, 0.176), rgba(46, 46, 46, 0.724));
        position: absolute;
        display: grid;
        top: 80px;
        color: white;
        z-index: 1;
        padding: 30px;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        right: 20px;
        animation: sobeSecao .8s ease-in-out forwards;
    }

    .logo {
        font-size: 20px;
    }

    .navbar a {
        font-size: 0.9rem;
        margin: 0 8px;
    }

    .hero {
        margin-top: 120px;
        margin-bottom: 0px;
    }
    
    nav ul {
        display: none;
    }

    nav.active ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        padding: 20px;
        gap: 15px;
    }

    header {
        padding: 10px;
    }

    #home-btn {
        font-size: 14px;
        padding: 8px 15px;
    }

    .service-boxes {
        flex-direction: column;
        gap: 10px;
    }

    .service-box {
        max-width: 100%;
    }

    .footer-section {
        margin-bottom: 15px;
    }

    .social-links {
        margin-top: 20px;
    }

    .stars {
        justify-content: center;
    }

    button[type="submit"] {
        width: 100%;
        padding: 12px;
    }

    .footer-sections {
        flex-direction: column;
        gap: 20px;
        padding: 0 10px;
    }
   
    .footer-section {
        margin-bottom: 15px;
    }

    .footer-section h3 {
        font-size: 1.2rem;
    }

    .social-links a {
        font-size: 1.4rem;
    }

    .classificao{
        position: relative;
        right: 145px;
    }
}


/* Celulares */
@media screen and (max-width: 375px) {
    header .navegacao-primaria.ativado {
        background: linear-gradient(rgba(43, 42, 42, 0.176), rgba(46, 46, 46, 0.724));
        position: absolute;
        display: grid;
        top: 80px;
        color: white;
        z-index: 1;
        padding: 30px;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        right: 20px;
        animation: sobeSecao .8s ease-in-out forwards;
    }

    .container {
        padding: 0 10px;
    }

    header {
        padding: 10px;
    }

    #hamburger-icon {
        display: block;
    }

    .logo {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .hero {
        margin-top: 120px;
        margin-bottom: 0px;
    }

    nav ul {
        display: none;
    }

    nav.active ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        padding: 20px;
        gap: 15px;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        width: 90%;
    }

    .navbar a {
        font-size: 0.85rem;
    }

    .footer-sections {
        flex-direction: column;
        gap: 15px;
    }

    .services h2 {
        font-size: 1.8rem;
    }

    .testimonial-box {
        max-width: 90%;
        padding: 15px;
    }

    .content {
        padding: 15px;
        margin: 120px auto 15px;
    }

    .form-group label {
        font-size: 0.9rem;
    }

    .footer-section h3 {
        font-size: 1.1rem;
    }

    .social-links a {
        font-size: 1.3rem;
        margin: 0 8px;
    }

    .classificao{
        position: relative;
        right: 120px;
    }
    
}

/* Celulares */
@media screen and (max-width: 320px) {
    header .navegacao-primaria.ativado {
        background: linear-gradient(rgba(43, 42, 42, 0.176), rgba(46, 46, 46, 0.724));
        position: absolute;
        display: grid;
        top: 80px;
        color: white;
        z-index: 1;
        padding: 30px;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        right: 20px;
        animation: sobeSecao .8s ease-in-out forwards;
    }

    .container {
        padding: 0 10px;
    }

    header {
        padding: 10px;
    }

    #hamburger-icon {
        display: block;
    }
    
    .legend {
        margin-bottom: 50px;
       
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        width: 90%;
    }

    .logo {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .hero {
        margin-top: 120px;
        margin-bottom: 0px;
    }

    nav ul {
        display: none;
    }

    nav.active ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        padding: 20px;
        gap: 15px;
    }

    .navbar a {
        font-size: 0.85rem;
    }

    .footer-sections {
        flex-direction: column;
        gap: 15px;
    }

    .services h2 {
        font-size: 1.8rem;
    }

    .content {
        padding: 15px;
        margin: 120px auto 15px;
    }

    .form-group label {
        font-size: 30px;
    }

    .footer-section h3 {
        font-size: 1.1rem;
    }

    .social-links a {
        font-size: 1.3rem;
        margin: 0 8px;
    }

    .classificao{
        position: relative;
        right: 90px;
    }
    
    .footer{
        width: 100%;
    }
}